{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-background gradient"
     style="background-color: {{ section.settings.background_color }}; 
            padding-top: {{ section.settings.padding_top }}px; 
            padding-bottom: {{ section.settings.padding_bottom }}px;">

  <div class="{% if section.settings.full_width %}page-width{% else %}page-width page-width--narrow{% endif %}" 
     style="text-align: {{ section.settings.content_alignment }}; 
            padding-left: {{ section.settings.side_padding | default: 20 }}px; 
            padding-right: {{ section.settings.side_padding | default: 20 }}px;">
       
    <h2 class="page-title">{{ page.title }}</h2>
    <div class="rte">{{ page.content }}</div>
    
  </div>
</div>


{% schema %}
{
  "name": "Custom Page Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Page Layout Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Colour",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make Content Full Width",
      "default": true
    },
        {
      "type": "range",
      "id": "side_padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Side Padding (Left & Right)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom Page Section"
    }
  ]
}
{% endschema %}
